{% extends 'base.html' %}
{% block content %}

<header class="container">
    <h1 class="title">Music Library</h1>
</header>

<section>
    <div class="container">
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Album Title</th>
                    <th>Album Artist</th>
                    
                </tr>
            </thead>

            {% for album in albums %}
            <tr>
            <td><p><a href="{% url 'album_details' pk=album.pk %}"> {{album}} </a> 
                
             <td><p><a href="{{album.artist_website}}">{{album.artist}}</a></p></td>
            </tr>
            {% endfor %}
            
        </table>
        <div style="text-align: center;">
            <a class="button is-outlined" href="{% url 'add_album' %}">
                Add Album
            </a>
        </div>
        </table>
    </div>
</section>


{% endblock %}